---
import DarkModeToggle from "../components/DarkModeToggle";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
	<main>
		<section class="relative">
			<!-- <Starfield /> -->
			<img src="/camera.svg" alt="camera" class="w-screen" />
		</section>
		<section class="bg-customLight dark:bg-customDark">
			<DarkModeToggle client:visible />
		</section>
	</main>
</Layout>
