---
import DarkModeToggle from "../components/DarkModeToggle";
import Starfield from "../components/Starfield.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
	<main>
		<section class="relative">
			<Starfield />
			<img src="/camera.svg" alt="camera" class="w-screen" />
		</section>
		<section class="bg-customLight dark:bg-customDark h-24">
			<DarkModeToggle client:visible />
		</section>
	</main>
</Layout>
