---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
	<main class="text-white">
		<h2>Projects</h2>
	</main>
</Layout>

<style>
	/* The integration's default injected base.css file */
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
